#leftMenuView{
  background-color: red;
  width: 30px;
  height: 100px;
  float: left;
}

#mainView{
  background-color: yellow;
  width: 50%;
  height: 40%;
    margin-left: auto;
    margin-right: auto;
}

#rightMenuView{
  background-color: blue;
  width: 30px;
  height: 40px;
  float: right;
}

#bottomMenuView{
  background-color: green;
  /*width: 100%;
  height: 40px;*/
}

body {
    font-size: 13px;
}

canvas {
    width: 100%;
    height: 100%
}

/*body {
    padding: 20px;
    margin: 20px;
}*/

.main {
    margin: 0 auto;
    width: 100%;
    float: left;
    visibility: hidden;
}

.main a {
    color: #C3D4DE;
}

#vWrapper {
    margin-top: 100px;
    padding: 10px 10px 10px 10px;
    width: 50px;
    background: #3abff0;
}

#vWrapper a {
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 10px;
    background: #3abff0;
}

#vWrapper a:hover {
    text-decoration: underline;
    background: #333;
}

.column {
    float: left;
    padding: 0 20px;
}

#back {
    background-color: red;
    float: left;
}

.delete {
    color: #3abff0;
}

#deletePreviewDiv {
    height: 200px;
    width: 350px;
    background-color: white;
}

.selectTile {
    display: block;
    margin: 0 auto;
}

#flip_content {
    background-color: #3abff0;
    width: 50px;
    height: 50px;
}

/* fliped css*/

#f1_container {
    position: relative;
    margin: 10px auto;
    width: 450px;
    height: 281px;
    z-index: 1;
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.flip {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    transform: rotateY(180deg);
    text-align: center;
    background-color: hotpink;
    height: 100%;
}
