.header{
  list-style:none;
  margin-top:1%;
  padding:0;
  text-align:right;
  border-bottom: solid lightgrey;
}

.header li{
  display:inline;
  font-family: Roboto-Medium;
    font-size: 10px;
  color: #424242;
  margin: 0;
}


.logo{
  text-align: left;
  top: 1%;
  bottom: 2%;
  z-index: -1;
  position: absolute;
}

.logo img{
    height: 4%;
    text-align: center;
}

.navBar a{
    border-left: solid 1px lightgrey;
    font-size: 130%;
    padding-bottom: .75%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 0;
    text-decoration: none;
    color: #424242;
    font-family: Roboto-Medium;
}

.navBar a:hover{
    background-color: #00bcd4;
    color: white;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}
