<script src="../assets/javascript/ready.js"></script>
<div id="sse1" ng-init='loadCategory()'>
    <div id="sses1">
      <!--This eventually needs to be a for loop that displays the products in the database-->
      <div class="iconNav">
        <ul>
            <div class="navcontainer" ng-repeat='category in categories'>
              <div ng-show='$even'class="grey" ng-click='loadCategory(category.name)'>
                <img src="{{category.iconImgPath}}" alt="" />
              </div>
              <div ng-show='$odd'class="light-grey" ng-click='loadCategory(category.name)'>
                <img src="{{category.iconImgPath}}" alt="" />
              </div>
            </div>
        </ul>
      </div>
    </div>
</div>


<div class="scroller">
<div class="wrapper">
  <div class="container">
    <div class="contentContainer" ng-repeat='product in productsFromCurrentCategory'>
      <div class="red" product-id='{{product._id}}'>
        <p>
          {{product.description}}
        </p>
      </div>
    </div>
  </div>
  <div class="left" data-slide='next'><img src="../assets/images/ArrowIndicatorRight.png" width='30px' height='20px'/></div>
    <div class="right" data-slide="prev"><img src="../assets/images/ArrowIndicatorRight.png" width='30px' height='20px'/></div>

</div>

</div>
