<div ui-view="leftMenu"></div>
<div ui-view="main"></div>
<div ui-view="rightMenu"></div>
<div ui-view="bottomMenu"></div>

<script src="../bower_components/three/three.min.js"></script>
<script src="http://mrdoob.github.com/three.js/examples/fonts/helvetiker_regular.typeface.js"></script>
<script src="../bower_components/three/helvetiker_regular.typeface.js"></script>
<script src="../bower_components/three/OrbitControls.js"></script>
<script src="../assets/javascript/tooltip.js"></script>
<script src="../assets/javascript/interact.min.js"></script>
<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
<link rel="stylesheet" href="../assets/css/build.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="../assets/css/tooltip.css" media="screen" title="no title" charset="utf-8">

<script src="../assets/javascript/build.js "></script>
