
<div id="main">
    <div id="vWrapper">
        <a href="#" onclick="mopen('sub1')">
            <img src="../assets/images/text.png">
        </a>
        <a href="#" onclick="mopen('sub2')">
            <img src="../assets/images/picture.png">
        </a>
        <a href="#" onclick="mopen('sub3')">
            <img src="../assets/images/design.png">
        </a>
        <a href="#" onclick="mopen('sub4')">
            <img src="../assets/images/trash.png">
        </a>
    </div>

    <div id="vWrapper2">
        <a href="#" onclick="mopen('sub5')">
            <img src="../assets/images/info.png">
        </a>
    </div>

    <div id="sub5" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
    </div>

    <div id="sub1" class="menudiv" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">

        <h2>Edit Text</h2>

        <form id="addTxtForm" name="addTxtForm">
            <label>TEXT:</label><br>
            <input id="addTxt" name="txt" type="text">
            <input align="middle" id="button" onclick="addText()" type="button" value="Add">
        </form>

        <h3>font type: </h3>
        <select id="fontType" onchange="changeFontType()">
            <option value="Times New Roman">Times New Roman</option>
            <option value="Arial">Arial</option>
            <option value="Verdana">Verdana</option>
        </select>


        <h3>Color: </h3>
        <select id="fontColor" onchange="changeFontColor()">
            <option selected value="color">color</option>
            <option value="red">red</option>
            <option value="orange">orange</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
            <option value="indigo">indigo</option>
            <option value="violet">violet</option>
            <option value="grey">grey</option>
            <option value="pink">pink</option>
            <option value="black">black</option>
        </select>

        <h3>font Size: </h3>
        <select id="fontSize" onchange="changeFontSize()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>

        <h3>font style: </h3>
        <select id="fontStyle" onchange="changeFontStyle()">
            <option value="normal">normal</option>
            <option value="bold">bold</option>
            <option value="italic">italic</option>
            <option value="underline">underline</option>
        </select>

    </div>


    <div id="sub2" class="menudiv" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
        <div class="column">
            <h2>Upload Image</h2> <br>

            <input type="file" onchange="previewFile()"><br>

            <h4>Preview: </h4>

            <!--<div id="previewDiv"></div>-->
            <!--<br>-->

            <!--<h3>Transform</h3>-->

            <input align="middle" id="rotateButton" onclick="rotateTile()" type="button" value="Rotate">
            <input align="middle" class="transformButton" onclick="resizeTile()" type="button" value="transform">


        </div>
    </div>

    <div id="sub3" class="menudiv" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
        <h2>Add Design</h2> <br>

        <select id="tileColor" onchange="changeTileColor()">
            <option selected value="color">color</option>
            <option value="white">white</option>
            <option value="red">red</option>
            <option value="orange">orange</option>
            <option value="yellow">yellow</option>
            <option value="green">green</option>
            <option value="blue">blue</option>
            <option value="indigo">indigo</option>
            <option value="violet">violet</option>
            <option value="grey">grey</option>
            <option value="pink">pink</option>
            <option value="black">black</option>
        </select>

        <div id="my-icon-select"></div>

        <input align="middle" class="transformButton" onclick="resizeTile()" type="button" value="transform">

    </div>

    <div id="sub4" class="menudiv" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
        <h2>Remove Tiles</h2> <br>
        <h4>Preview:</h4>

        <div id="deletePreviewDiv"></div>

        <button onClick="confirmDelete()">DELETE</button>

    </div>

</div>


<div id="f1_container">
    <div id="f1_card" class="shadow">
        <div id="front" class="front face">
        </div>
        <div id="back" class="back face center">
        </div>
    </div>
</div>


<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)"></div>
<div id="drag1"><img src="../assets/images/click.png" draggable="true"
                     ondragstart="drag(event)" width="150" height="150"></div>
<div id="drag2"><img src="../assets/images/cat.jpg" draggable="true"
                     ondragstart="drag(event)" width="150" height="150"></div>
<button class="btn btn-primary" id="flip_content">
    <img src="../assets/images/rotate.png">
</button>
