<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="./scripts/ready.js"></script>
    <link rel="stylesheet" type="text/css" href=".\style\stylesheet.css">

</head>
<body>

<div class="header">

    <ul>
        <div class="logo">
        <li><img src="./images/Final_Logo1.png"></li>
        </div>
        <div class="navBar">
        <li><a href="build.html">Build</a></li>
        <li><a href="cart.html">Cart</a></li>
        <li><a href="build.html">Login</a></li>
        </div>
    </ul>
</div>

<div id="sse1">
    <div id="sses1">
    <!--This eventually needs to be a for loop that displays the products in the database-->
    <div class="iconNav">
    <ul>
        <div class="navcontainer grey">
            <img src="./images/icons/SkeletonColor.png">
        </div>
        <div class="navcontainer light-grey">
            <img src="./images/icons/ScreenColor.png">
        </div>
        <div class="navcontainer grey">
            <img src="./images/icons/ProcessorColor.png">
        </div>
        <div class="navcontainer light-grey">
            <img src="./images/icons/BatteryColor.png">
        </div>
        <div class="navcontainer grey">
            <img src="./images/icons/StorageColor.png">
        </div>
        <div class="navcontainer light-grey">
            <img src="./images/icons/ConnectionColor.png">
        </div>
        <div class="navcontainer grey">
            <img src="./images/icons/CameraColor.png">
        </div>
        <div class="navcontainer light-grey">
            <img src="./images/icons/SpeakerColor.png">
        </div>
    </ul>
        </div>
        </div>
    </div>
    <div class="scroller">
    <div class="wrapper">
        <div class="container">
            <div class="contentContainer red"></div>
            <div class="contentContainer blue"></div>
            <div class="contentContainer orange"></div>
            <div class="contentContainer green"></div>
            <div class="contentContainer black"></div>
            <div class="contentContainer red"></div>
            <div class="contentContainer blue"></div>
            <div class="contentContainer orange"></div>
            <div class="contentContainer green"></div>
            <div class="contentContainer black"></div>
            <div class="contentContainer red"></div>
            <div class="contentContainer blue"></div>
            <div class="contentContainer orange"></div>
            <div class="contentContainer green"></div>
            <div class="contentContainer black"></div>
            <div class="contentContainer red"></div>
            <div class="contentContainer blue"></div>
            <div class="contentContainer orange"></div>
            <div class="contentContainer green"></div>
            <div class="contentContainer black"></div>
            <div class="contentContainer red"></div>
            <div class="contentContainer blue"></div>
            <div class="contentContainer orange"></div>
            <div class="contentContainer green"></div>
            <div class="contentContainer black"></div>
            <div class="contentContainer red"></div>
            <div class="contentContainer blue"></div>
            <div class="contentContainer orange"></div>
            <div class="contentContainer green"></div>
            <div class="contentContainer black"></div>

        </div>
    </div>

    <div class="right"><img src="./images/ArrowIndicatorRight.png" width='30px' height='20px'/></div>
    <div class="left"><img src="./images/ArrowIndicatorRight.png" width='30px' height='20px'/></div>
    </div>
</body>
</html>